$red: #FF5F58;
$lred: #FFF1F0;
$white: #ffffff;
$dgray: #4F4F4F;
$lgray: #F2F2F2;

@mixin bg-color($color) {
    background-color:$color;
}
@mixin text-color($color){
    color: $color;
}
@mixin  border-color($color){
    border-color: $color;
}


